@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}
.dark .dark\:bg-\[\#343541\] {
  --tw-bg-opacity: 1;
  background-color: black!important;
  border: 1px solid #ffffff1a;
}
.bg-\[\#202123\] {
  --tw-bg-opacity: 1;
  background-color: black;
}
.dark .dark\:to-\[\#343541\] {
  --tw-gradient-to: #26262600;
}
.dark .dark\:via-\[\#343541\] {
  --tw-gradient-to: rgba(52,53,65,0);
  --tw-gradient-stops: var(--tw-gradient-from),#000000,var(--tw-gradient-to);
}
.dark .dark\:bg-transparent {
  background-color: #1f1f1f!important;
}